 /*css style sheet for html_bio  */
    
        <h1> { background-color: lightblue;
            color:black;
            text-align: center;  }
    
            <h2> {

                
            }
        <h3> {

    }
    img{ margin: auto;
        display: block;}
